In [ ]:
print("Weekly Exercise 1")
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volum = panjang*lebar*tinggi

print("panjang =" + str(panjang))
print("lebar=" + str (lebar))
print("tinggi=" + str (tinggi))
print("keliling=" + str (keliling))
print("volum=" + str (volum))

Weekly Exercise 1
panjang =20.5
lebar=25
tinggi=10
keliling=91.0
volum=5125.0

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)

In [8]:
print("Weekly Exercise 2")
a1=85
b1 = 80
c1= 75
d1= 95
e1 = 85
f1 = 75
g1 = 70
h1= 85
i1 = 80

a2= 75
b2= 90
c2= 80
d2= 80
e2= 85
f2= 90
g2= 75
h2= 85
i2= 75

# import module
from tabulate import tabulate

# assign data
mydata = [
["Shafira",a1,a2],
["Amanda",b1,b2],
["Aditya",c1,c2],
["Nedia",d1,d2],
["Widya",e1,e2],
["Hanif",f1,f2],
["Andi",g1,g2],
["Dhanar",h1,h2],
["Hikma",i1,i2],
]

# create header
head = ["Name", "Kalkulus1","M.Statistika",]

# display table
print(tabulate(mydata, headers=head, tablefmt="grid"))


rata=(a1+a2)//2
print("1.Rata-rata nilai Safira =",rata)
jumlah = (f1+f2+g1+g2)
print("2.Jumlah nilai Hanif dan Andi =",jumlah)
rata_nilai_kalkulus =(e1+h1+i1+d1)//4
print("3.Rata-rata nilai Kalkulus 1 Wdiya,Dhanar,Hikma,Nedia =",rata_nilai_kalkulus)
rata_nilai_mStatistika =(e2+h2+i2+d2)//4
print("  Rata-rata nilai Metode Statistika Wdiya,Dhanar,Hikma,Nedia =",rata_nilai_mStatistika)
rata_kalkulus = (a1+b1+c1+d1+e1+f1+g1+h1+i1)//9
print("4.Rata nilai Kalkulus 1 =",rata_kalkulus)
rata_mStatistika = (a2+b2+c2+d2+e2+f2+g2+h2+i2)//9
print("5.Rata nilai Metode Statistika =",rata_mStatistika)

Weekly Exercise 2
+---------+-------------+----------------+
| Name    |   Kalkulus1 |   M.Statistika |
+=========+=============+================+
| Shafira |          85 |             75 |
+---------+-------------+----------------+
| Amanda  |          80 |             90 |
+---------+-------------+----------------+
| Aditya  |          75 |             80 |
+---------+-------------+----------------+
| Nedia   |          95 |             80 |
+---------+-------------+----------------+
| Widya   |          85 |             85 |
+---------+-------------+----------------+
| Hanif   |          75 |             90 |
+---------+-------------+----------------+
| Andi    |          70 |             75 |
+---------+-------------+----------------+
| Dhanar  |          85 |             85 |
+---------+-------------+----------------+
| Hikma   |          80 |             75 |
+---------+-------------+----------------+
1.Rata-rata nilai Safira = 80
2.Jumlah nilai Hanif dan Andi = 310
3.Rata-rata nilai Kalkulus 1 Wdiya,Dhanar,Hikma,Nedia = 86
  Rata-rata nilai Metode Statistika Wdiya,Dhanar,Hikma,Nedia = 81
4.Rata nilai Kalkulus 1 = 81
5.Rata nilai Metode Statistika = 81

In [ ]:
from tabulate import tabulate
import pandas

df = pandas.DataFrame({'Col2' : ['Hello', 'How' , 'Are', 'You'],
                   'Col3' : ['Hi', 'I', 'am', 'fine']})
nice_table = tabulate(df, headers='keys', tablefmt='psql')
print(nice_table)

+----+--------+--------+
|    | Col2   | Col3   |
|----+--------+--------|
|  0 | Hello  | Hi     |
|  1 | How    | I      |
|  2 | Are    | am     |
|  3 | You    | fine   |
+----+--------+--------+